<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
<div class="login">
	{%with messages = get_flashed_messages()%}
		{%if messages%}
		<ul>
			{%for message in messages%}
				<li><strong>{{message}}</strong></li>
			{%endfor%}
		</ul>
		{%endif%}
	{%endwith%}
	<form action="{{url_for('toLogIn')}}" method="post">
		<p>Name: </p>
		<input type="text" size="30" name="name">
		<p>Password: </p>
		<input type="text" size="30" name="password">
		<br><br>
		<input type="submit" value="Confirm">
		<a href="{{url_for('showAllRestaurants')}}">Cancel</a>
	</form>
	<a href="{{url_for('register')}}">New? Register Here!</a>
</div>
</body>
</html>