<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
<div class="register">
	<form action="{{url_for('register')}}" method="post">
		<p>Name: </p>
		<input type="text" size="30" name="name">
		<p>Password: </p>
		<input type="password" size="30" name="password">
		<p>City: </p>
		<input type="text" size="30" name="city">
		</br></br>
		<input type="submit" value="Submit">
		<input type="reset" value="Reset">
		<a href="{{url_for('showAllRestaurants')}}">Cancel</a>
	</form>
</div>
</body>
</html>